*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
     box-sizing: border-box;
     /* overflow: hidden; */
}
a {
     text-decoration: none;
     color: inherit;
}
ul,
ol,
li {
     list-style: none;
}
img {
     vertical-align: top;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
body {
    
    width: 100vw;
    height: 100vh;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight:400;
    background-color: #F4F4F4;
}

/* header */
[class*="__container"] {
    max-width: 91%;
    margin: 0 auto;
    border-radius: 8px;
}
.header__wrapper{
    display: flex;
}
.logo {
    background-color: #fff;
}
.logo_box {
    padding: 25px 60px;
    background-color: white;
    border-radius: 9px 0px 0px 9px;
}
.header-link {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 30px 10%;
    background-color: #444444;
    color: #fff;
    border-radius: 0px 9px 9px 0px;
    font-size: 16px;
}
.admin{
 width: 20px;
 height: 20px;
}
.admin_container{
    padding-left: 40px;
}

/* header end */

/* banner section */
.banner__container{
    display: flex;
    margin-top: 30px;
    background-color: #fff;
}
.info_box {
    width: 60%;
    padding-left: 60px;
    padding-top: 45px;
}
.info_box h2 {
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 45px;
}
.img_box {
    width: 40%;
    padding: 0 15%;
    background-color: #fff;

}
.info_box p{
    font-size: 14px;
    color: #515759;
    padding: 5px 0;
}
.text{
  width: 70%;
  line-height: 120%;
}
.web_button button{
    color: #1890FF;
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 20px;
    padding-left: 20px;
 
}
.web_button {
    display: flex;
    padding-bottom: 20px;
}
.main_button {
    background-color:#1890FF;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 15px 60px ;
    border-radius: 8px;
}

.banner__container img:first-child{
    width: 4%;
    padding-left: 30px;
}

.banner__container img:last-child {
    padding-right: 30px;
}
#watch {
    width: 300px;
}

/* banner section end */


/* media */

@media (max-width: 1000px) {
    .header__wrapper {
        display: block;
    }
    .header-link {
        width: 100%;
        border-radius: 0px 0px 9px 9px;
    }
    .logo_box{
        border-radius: 9px 9px 0px 0px;
        padding-left: 40%;
    }

#watch {
    width: 250px;
    height: 400px;
}
.banner__container img:first-child {
    width: 6%;
    padding-left: 30px;
}
.banner__container img:last-child {
    width: 6%;
    padding-right: 30px;
}

.info_box h2 {
    font-size: 40px;
}
.img_box {
    padding: 0;
}
.banner__container img:last-child {
    padding-right: 30px;
}
}

@media (max-width: 740px) {
    .info_box h2 {
        display: flex;
        align-items: center;
        font-size: 30px;
        width: 99%;
    }
    .info_box {
        width: 90%;
        padding-bottom: 40px;
    }
    .info_box p {
        font-size: 13px;
        color: #515759;
        padding: 5px 0;
        width: 99%;
    }
    #watch {
        width: 250px;
        height: 100%;
    }
    .banner__container img:first-child {
        width: 8%;
        padding-left: 30px;
    }
    .banner__container img:last-child {
        width: 8%;
        padding-right: 30px;
    }
    .main_button {
        padding: 15px 30px;
    }
    .header-link {
        display: flex;
        flex-wrap: wrap;
        height: 120px;
    }
    .web_button button {
        padding-left: 0px;
    }
}

@media (max-width: 600px) {
.banner__container {
    flex-direction: column-reverse;
}
.img_box {
    padding: 0 25%;
}
.header-link  li {
    padding: 0 10px;
}
.banner__container img:first-child {
  display: none;
}
.banner__container img:last-child {
    display: none;
}
}
p {
  margin: 0;
}

.info__container {
  padding: 50px 60px;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

#search {
  /* display: none; */
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 0 20px 37%;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}


.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin: 40px 140px;
}

.products__card:first-child img {
  margin-bottom: 34px;
}

.products__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.products__card strong {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.products__card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.products__card button {
  width: 60px;
  height: 24px;
  background-color: #1890ff;
  border: none;
  border-radius: 4px;
  color: white;
}
/* ! modal window */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 20px;
  width: 300px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

form input {
  width: 70%;
  height: 30px;
  border-radius: 7px;
  border: 1px solid black;
}

form button {
  width: 100px;
  height: 40px;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 7px;
}

/* ! modal window */

footer {
  margin-top: 20px;
  padding: 30px 67px;
  display: grid;
  grid-template-columns: repeat(2, 180px);
  column-gap: 50px;
  background-color: white;
  border-radius: 8px;
}

.links h3,
.contacts h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.links p,
.contacts p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #515759;
}

.navbar {
  display: flex;
  column-gap: 30px;
}

.contacts b {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #515759;
}

.contacts a {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #1890ff;
}

@media (max-width: 1024px) {
  .products {
    column-gap: 20px;
    margin: 30px 30px;
  }
}

@media (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
    margin: 60px 80px;
  }

  #search {
    width: 250px;
    margin: 20px 0 20px 29%;
    padding-left: 10px;
  }
}


@media (max-width: 426px) {
  span {
    flex-direction: column;
  }

  #search {
    width: 200px;
    margin: 20px 0 0 15%;
  }

  .products {
    column-gap: 40px;
    row-gap: 50px;
    margin: 60px 0 60px 0;
  }

  .products__card {
    row-gap: 5px;
  }

  .products__card img {
    width: 130px;
  }

  footer {
    grid-template-columns: repeat(2, 140px);
  }
}
@media (max-width: 376px) {
  .container {
    padding: 30px 40px;
  }

  .products {
    column-gap: 40px;
    row-gap: 50px;
    margin: 60px 20px;
  }

  .products__card {
    row-gap: 5px;
  }

  .products__card img {
    width: 110px;
  }

  footer {
    padding: 30px 40px;
    grid-template-columns: repeat(2, 120px);
  }

  .navbar {
    column-gap: 15px;
  }
}

@media (max-width: 321px) {
  .container {
    padding: 30px 40px;
  }

  #search {
    width: 180px;
    margin-left: 20px;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products__card {
    row-gap: 5px;
  }

  .products__card img {
    width: 150px;
  }

  footer {
    padding: 30px 20px;
    grid-template-columns: repeat(2, 100px);
  }

  .navbar {
    column-gap: 15px;
  }
}
